# Apache Configuration
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /ap-app/public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)$ index.php [QSA,L]
</IfModule>

# PHP Settings
php_value display_errors 1
php_value error_reporting E_ALL
